@font-face {
  font-family: Balaleen ;
  src: url("../fonts/Balaleen-Line.otf");
}

$font-family-brand: Balaleen;

@font-face {
  font-family: sarvenaz;
  src: url("../fonts/Sarvenaz.ttf");
}
$main-font-family:sarvenaz;