@import "font";
@import "variables";

a{
  text-decoration: none;
  color:$dark;
}
button{
  background: none;
  border: none;
}
body{
  font-family: $main-font-family;
}
li{
  list-style: none;
}

.main-font{
  font-family: $main-font-family;
}
.brand-font{
  font-family: $font-family-brand;
}
.pink-text{
  color: $pink;
}
.dark-pink-text{
  color: $dark-pink;
}

.bg-light-color{
  background-color: $light-color;
}
.bg-dark-color{
  background-color: $dark;
}
.bg-dark-pink{
  background-color: $dark-pink;
}
.text-shadow{
  text-shadow: $text-shadow;
}
.text-dark{
  color: $dark;
}

#search-input{
  outline: none;
  border: none;
}
#search-input:focus{
  box-shadow: 0 0 0 0;
}


.button {
  cursor: pointer;
  position: relative;

  border: 1px solid $dark;
  background-image: linear-gradient(-180deg, #FBF9FA 0%, #A80038 100%);
}

.button span {
  color: transparent;
  background-image: linear-gradient(0deg, $light-color 0%, $dark-pink 100%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 2px $pink);
}

.input-container {
  width: 220px;
  position: relative;
}

.icon {
  position: absolute;
  left: 20px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid #A80038;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid #A80038;
  box-shadow: -5px -5px 0px #A80038;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.hover-menu:hover{
  font-size: 1.1rem;
  transition-duration: 300ms;
  color:$pink!important;
}

#menu{
  height: 0;
  transition-duration: 300ms;
  transition-delay: 100ms;
  overflow: hidden;
}
#menu-container{
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
}

#display-menu{
  width: 100px;
  height: 70px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
  transition-duration: 300ms;
  overflow: hidden;
}

#close {
  width: 40px;
  height: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
  transition-duration: 300ms;
  overflow: hidden;
  transition-delay: 100ms;
}

.Btn {
  position: relative;
  width: 150px;
  height: 55px;
  border-radius: 45px;
  border: none;
  background-color: $pink;
  color: white;
  box-shadow: 0px 10px 10px rgb(253, 187, 227) inset,
  0px 5px 10px $dark,
  0px -10px 10px $dark-pink inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Btn::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
}

.Btn::after {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

.Btn:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.carousel-inner{
  height: 50vh;
}

.carousel-item,.carousel-item img{
  height: 100% !important;
  width:  100% !important;
}

.carrd {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: $light-color;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #fdbbe3;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}

.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: $pink;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.card:hover {
  border-color: $dark-pink;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}





.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#logform{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  max-width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.3);
}
.containerr {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 350px;
  background: #fdf8fc;
  background: linear-gradient(
                  0deg,
                  rgb(255, 255, 255) 0%,
                  rgb(251, 244, 249) 100%
  );
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: rgba(215, 133, 182, 0.87) 0px 30px 30px -20px;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: rgb(211, 16, 133);
}

.forrm {
  margin-top: 20px;
}

.forrm .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #ffcfe9 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.forrm .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.forrm .input::placeholder {
  color: rgb(170, 170, 170);
}

.forrm .input:focus {
  outline: none;
  border-inline: 2px solid #d112a4;
}

.forrm .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.forrm .forgot-password a {
  font-size: 11px;
  color: #ff00ae;
  text-decoration: none;
}

.forrm .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(
                  45deg,
                  rgb(211, 16, 120) 0%,
                  rgb(209, 18, 114) 100%
  );
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(215, 133, 179, 0.87) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.forrm .login-button:hover {
  transform: scale(1.03);
  box-shadow: rgba(215, 133, 192, 0.87) 0px 23px 10px -20px;
}

.forrm .login-button:active {
  transform: scale(0.95);
  box-shadow: rgba(215, 133, 174, 0.87) 0px 15px 10px -10px;
}

.social-account-container {
  margin-top: 25px;
}

.social-account-container .title {
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: rgba(215, 133, 182, 0.87) 0px 12px 10px -8px;
  transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
  fill: white;
  margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
  transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
  transform: scale(0.9);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration: none;
  color: #ff00ae;
  font-size: 9px;
}

#close-form{
  cursor: pointer;
}